<div class="alert alert-success" role="alert">
  <h4><span><%= image_tag("tick.png", :class=>'tick') %></span>Tests Runs!</h4>
</div>
<div class="alert alert-danger" role="alert">
  <h4>TestsRun Failed :(</h4>
</div>
<div class="ajaxBusy"><img src="<%= asset_path("ajax_loader.gif") %>"></div>
<div class="bg_layer"></div>
<div class="container">
  <div class="page-header">
    <h1>Run Test <small>cause it's cool</small></h1>
  </div>
  <div class="params-container">
    <h4>Server</h4>
    <div id="server">
      <ul class="nav nav-pills">
        <li class="list-group-item-info active"><a>Production</a></li>
        <li class="list-group-item-info"><a>Test</a></li>
      </ul>
    </div>
    <h4>Platform</h4>
    <div id="platform">
      <ul class="nav nav-pills">
        <li class="list-group-item-info active"><a>IOS</a></li>
        <li class="list-group-item-info"><a>Android</a></li>
      </ul>
    </div>
    <div class="dropdown">
      <h4>Device</h4>
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span id="select-platform">Nexus4</span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a class="select-platform">Nexus4</a></li>
        <li><a class="select-platform">Nexus7</a></li>
      </ul>
    </div>
    <div class="inline">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Branch</span>
        <input type="text" class="form-control" id="branch" value="default" placeholder="enter branch here..." aria-describedby="basic-addon3">
      </div>
    </div>
    <div class="inline">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon3">Application Id</span>
        <input type="text" class="form-control" id="appId" value="4193" placeholder="enter application Id here..." aria-describedby="basic-addon3">
      </div>
    </div>
    <h4>Suites</h4>
    <div id="suite">
      <ul class="nav nav-pills">
        <li class="list-group-item-info active"><a>Smoke</a></li>
        <li class="list-group-item-info"><a>BigSmoke</a></li>
        <li class="list-group-item-info"><a>Networking</a></li>
        <li class="list-group-item-info"><a>Meetings</a></li>
      </ul>
    </div>
    <div class='tests' id="tests">
      <%= render partial: 'shared/tests', locals: {tests: @tests} %>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Use you Jenkins account</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter your username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="loginButton">Login</button>
          </div>
        </div>
      </div>
    </div>
    <div class="run_section">
      <button class="btn btn-success btn-run" id="run">RUN!</button>
    </div>
  </div>
</div>