<div class="modal fade" id="addJobContainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add New Jenkins Job</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="username">Job Name</label>
          <input type="text" class="form-control" id="jobName" placeholder="Enter job name">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" id="addJobButton">Add</button>
      </div>
    </div>
  </div>
</div>
