:coffeescript
  $ ->
    $('#addNewFeatureForm').click ->
      $(this).fadeOut(500)
      $('.addContainer').fadeIn(1400)

  $ ->
    $('#addNewFeature').click ->
      title = $('#title').val()
      tag = $('#tag').val()
      $.ajax
        url: 'api/scenarioparser/add_feature'
        type: 'POST'
        dataType: 'html'
        data: {
        title: title
        tag: tag
        }
        success: (response) ->
          $('#featurelist').html(response)
          $('.feature').removeClass('active')
          $('.feature').last().addClass("active")
          $('.addContainer').fadeOut(100)
          $('.addScenarioContainer').fadeIn(1400)
          $('#addNewFeatureForm').fadeIn(500)
          $.ajax
            url: 'testrunner/get_scenario_of_feature'
            type: 'GET'
            dataType: 'html'
            data: suite: title
            success: (response) ->
              $('.tests_container').html(response)


%h4="Edit Suites"
%div{:class=>"list-group inline feature_container"}
  %div{:id=>"featurelist", :style=>"margin-bottom: 10px"}=render partial: 'shared/featurelist', locals: {suites: suites}
  .addContainer
    .input-group
      %div
        %input{:id=>'tag', :class=>"form-control awesome-input", :style=>"width: 150px; margin-bottom: 7px;", :placeholder=>"tag here without @"}
      %div
        %input{:id=>'title', :class=>"form-control awesome-input", :style=>"width: 150px; margin-bottom: 7px;", :placeholder=>"title here"}
      %button{:id=>"addNewFeature", :class=>"btn btn-success"}="Add New Feature"
  %button{:id=>"addNewFeatureForm", :class=>"btn btn-info"}="Add New Feature"

%div{:class=>"inline tests_container"}
