%table
	%tr
		%th{style:"padding: 3px"}="Status"
		%th{style:"padding: 3px"}="Number"
		%th{style:"padding: 3px;padding-right: 150px"}= "Params"
	-builds.each do |b|
		%tr
			%td{title:b["status"], :style=>"text-align: center"}
				-status_images = {"ABORTED"=>"http://jenkins.mercury.office:8080/static/aaf3e3e1/images/16x16/aborted.png", "SUCCESS"=>"http://jenkins.mercury.office:8080/static/aaf3e3e1/images/16x16/blue.png", "FAILURE"=>"http://jenkins.mercury.office:8080/static/aaf3e3e1/images/16x16/red.png", "IN_PROGRESS"=>"http://jenkins.mercury.office:8080/static/aaf3e3e1/images/16x16/blue_anime.gif", "IN_QUEUE"=>"http://jenkins.mercury.office:8080/static/aaf3e3e1/images/16x16/hourglass.png"}
				%img{src:status_images[b["status"]]}
			%td{:style=>"text-align: center"}= b["number"]
			%td
				%button.show_build_params= "Show"
				%div.build_params{style:"display:none;"}
					-b["params"].each do |param|
						%p= param
