%h4
	Tests
	%span.badge= tags.size
.tag
	%span.headTag.label.label-info{id: "#{head_tag}", class: "test-active"}= head_tag
-tags.each do |tag|
	.tag.tooltips{href: "#"}
		%span.label.label-info.scenario.test{id: "#{tag[1]}"}= tag[1]
		%section.tooltips-container
			.test_container
				-tag.first.each do |scenario|
					= scenario.html_safe
