<script>
  (function() {
  $(function() {
    return $('#tests .label-info').click(function() {
      if (this.className.indexOf('test-active') > -1) {
        $(this).removeClass('test-active');
        if ($('.test-active').length < 1) {
          $('#all').addClass('test-active');
        }
      }
      else if ($(this).attr('id') != 'all') {
        $('#all').removeClass('test-active');
        $(this).addClass('test-active');
      }
      else if ($(this).attr('id') == 'all') {
        tests = $('.test-active')
        $(this).addClass('test-active');
        $.each(tests, function(e) {
          $(tests[e]).removeClass('test-active');
        });
      }
    });
  });
  }).call(this);

</script>
<h4>Tests <span class="badge"><%= tests.size %></span></h4>
<div class="tag">
<span id="all" class="label label-info test-active"><%= head_tag %></span>
</div>
<% tests.each do |test|%>
<div class="tag">
  <a class="tooltips" href="#">
  <span class="label label-info scenario test "><%= test[1] %></span>
  <section><div style="margin:10px 10px 10px 10px"><%= test[0].html_safe %></div></section></a>
</div>
<% end %>
