<h4>Tests <span class="badge"><%= tags.size %></span></h4>
<div class="tag">
	<%= ("<span id=\"all\" class=\"label label-info #{head_tag} test-active\">#{head_tag}</span>").html_safe %>
</div>
<% tags.each do |tag|%>
  <div class="tag">
    <div class="tooltips" href="#">
	    <%= ("<span class=\"label label-info scenario test\" id=\"#{tag[1]}\">#{tag[1]}</span>").html_safe %>
	    <section class="tooltips-container">
	   	  <div class="test_container">
	        <% tag.first.each do |scenario| %>
	        	<%= scenario.html_safe %>
	        <% end %>
	   	  </div>
	    </section>
  	</div>
	</div>
<% end %>
