<script>
  (function() {
  $(function() {
    return $('#tests .label-info').click(function() {
      if (this.className.indexOf('test-active') > -1) {
        $(this).removeClass('test-active');
        if ($('.test-active').length < 1) {
          $('#all').addClass('test-active');
        }
      }
      else if ($(this).attr('id') != 'all') {
        $('#all').removeClass('test-active');
        $(this).addClass('test-active');
      }
      else if ($(this).attr('id') == 'all') {
        tests = $('.test-active')
        $(this).addClass('test-active');
        $.each(tests, function(e) {
          $(tests[e]).removeClass('test-active');
        });
      }
    });
  });

  }).call(this);

</script>
<h4>Tests <span class="badge"><%= tests.size %></span></h4>
<% for i in 0..tests.size-1%>
<div class="tag">
<% if i==0 %>
<span id="all" class="label label-info test-active"><%= tests[i] %></span>
<% else %>
<span class="label label-info test" title="123123"><%= tests[i] %></span>
<% end %>
</div>
<% end %>
