/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.raw  {
	display: inline-table;
	width: 24%;
}

.navbar-fixed-bottom {
	background-color: #F5F5F5;
	height: 50px;
	padding-top: 15px;
}

.deleteRecord {
  cursor: pointer;
}

.deleteButton {
  width: 18px;
}
.refreshButton {
  width: 40px;
}
.button-container {
  display: inline-table;
  text-align: right;
}

.title-container {
  display: inline-table;
}

.inline {
  display: inline-block;
  padding-top: 15px;
}

.test-active {
  background-color: #5cb85c;
}

.label {
  line-height: 2;
  font-size: 90%;
  border-radius: 1.25em;
  cursor: pointer;
}

.list-group-item-info {
  cursor: pointer;
}
.tests {
  padding-top: 10px;
  max-width: 600px;
}

.params-container {
  max-width: 600px;
}

.run_section {
  padding-top: 30px;
  padding-left: 220px;
}

.btn-run {
  width: 160px;
  height: 40px;
  border-radius: 2em;
}

.dropdown {
  display: none;
}

.select-platform {
  cursor: pointer;
}

.alert-success {
  text-align: center;
  display: none;
  position: absolute;
  width: 100%;
  height: 6%;
}

.bg_layer {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  display: none;
}

.ajaxBusy {
  display: none;
  z-index: 16;
  position: absolute;
  right: 45%;
  top: 35%;
  width: auto;
}

.container {
  padding-bottom: 50px;
}

.row-fluid {
  padding-top: 10px;
}