/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.keyword {
	color: #8495CC;
	font-weight: 700;
}

.awesome-input {
		border: none;
	  box-shadow: none;
}

.delete_feature {
	cursor: pointer;
}

.delete_scenario {
	cursor: pointer;
}

.addContainer {
	display: none;
}

.parse_area {
	width: 400px;
	height: 205px;
}

.scenario_title {
	color: #91ba61;
	font-weight: 500;
}

.raw  {
	display: inline-table;
	width: 24%;
}

.navbar-fixed-bottom {
	background-color: #F5F5F5;
	height: 50px;
	padding-top: 15px;
}

.deleteRecord {
  cursor: pointer;
}

.deleteButton {
  width: 18px;
}
.refreshButton {
  width: 40px;
}
.button-container {
  display: inline-table;
  text-align: right;
}

.title-container {
  display: inline-table;
}

.inline {
  display: inline-block;
  padding-top: 15px;
}

.fixed {
	position: fixed;
}

.test-active {
  background-color: #5cb85c;
}

.feature {
	padding-top:  13px;
	padding-bottom: 13px;
	margin-right: 8px;
}

.feature_container {
	width: 400px;
	vertical-align: top;
	padding-top: 0px;
}

.ticket {
	text-align: center;
}

.label {
  line-height: 2;
  font-size: 12px;
  border-radius: 1.25em;
  cursor: pointer;
}

.list-group-item-info {
  cursor: pointer;
}
.tests {
  padding-top: 10px;
  max-width: 600px;
}

.params-container {
  max-width: 600px;
}

.run_section {
  padding-top: 30px;
  padding-left: 220px;
}

.btn-run {
  width: 160px;
  height: 40px;
  border-radius: 2em;
}

.select-platform {
  cursor: pointer;
}

.alert-success {
  text-align: center;
  display: none;
  position: absolute;
  width: 100%;
  height: 6%;
}

.alert-danger {
  text-align: center;
  display: none;
  position: absolute;
  width: 100%;
  height: 6%;
}

.bg_layer {
  position: absolute;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  display: none;
}

.ajaxBusy {
  display: none;
  z-index: 16;
  position: absolute;
  right: 45%;
  top: 35%;
  width: auto;
}

.container {
  padding-bottom: 50px;
}

.row-fluid {
  padding-top: 10px;
}

.tick {
  width: 30px
}

.empty {
  border-color: red;
  outline-color: red;
}

.select-job {
  cursor: pointer;
}
.suites {
  width: 320px;
  height: 225px;
}

.tag {
	display: inline-block;
}

div.tooltips {
  position: relative;
  display: inline;
}
div.tooltips section {
	white-space: nowrap;
  position: absolute;
  min-width: 200px;
  color: #FFFFFF;
  background: #000000;
	font-size: 10px;
  text-align: left;
  visibility: hidden;
  border-radius: 20px;
}
div.tooltips section:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
div:hover.tooltips section {
  visibility: visible;
  opacity: 0.9;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}
