// Place all the styles related to the testrunner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  padding-top: 20px;
}

.toggle-light {
  margin-left: 5px;
}

.circle {
  border-radius: 7px;
}
